body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

.loading {
  position: fixed;
  font-size: 36px;
  top: 450px;
  left: 900px;

}

/* Change the place after */
.link.active {
  color: bisque;
}

.link-exit {
  font-size: 24px;
  color: white;
  position: fixed;
  right: 54px;
  top: 32px;
  height: 30px;
  width: 50px;

  &:hover {
    color: bisque;
  }
}

.forms {
  margin-top: 200px;
}

.container-login {
  position: fixed;
  right: 20px;
  top: 32px;
  height: 30px;
  width: 210px;

}

.link-imp {
  font-size: 24px;
  color: white;
  margin-right: 24px;

  &:hover {
    color: bisque;
  }
}

a {
  text-decoration: none;
}

.link {
  margin-right: 32px;
  font-size: 32px;
  color: white;

}

.form-button {
  border-radius: 16px;
  width: 160px;
  height: 50px;
  border-color: black;
  background-color: #282c34;
  color: white;
  margin: 16px auto;

  &:hover {
    background-color: transparent;
    color: #282c34;
    cursor: pointer;
  }
}


.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-label {
  margin-right: 112px;
  font-size: large;
  font-weight: bold;
}

.form-input {
  margin: 0 auto;
  width: 200px;
  height: 24px;
  border-radius: 8px;
  color: #282c34;

  padding: 5px;

  &:focus {
    background-color: #fff;
    color: #282c34;
  }
}

.login-error-message {
  color: red;
}

.go-back-button {
  border-radius: 16px;
  width: 150px;
  height: 45px;
  border-color: black;
  background-color: #282c34;
  color: white;
  position: fixed;
  left: 24px;
  top: 120px;
  height: 45px;
  width: 150px;

  &:hover {
    background-color: transparent;
    color: #282c34;
    cursor: pointer;
  }
}